parameters:
	ignoreErrors:
		-
			message: '#^Call to method getServerVersion\(\) on an unknown class Doctrine\\DBAL\\Connection\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/DBALConnectionChecker.php

		-
			message: '#^Call to method isConnected\(\) on an unknown class Doctrine\\DBAL\\Connection\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/DBALConnectionChecker.php

		-
			message: '#^Parameter \$connection of method MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\DBALConnectionChecker\:\:__construct\(\) has invalid type Doctrine\\DBAL\\Connection\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/DBALConnectionChecker.php

		-
			message: '#^Property MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\DBALConnectionChecker\:\:\$connection has unknown class Doctrine\\DBAL\\Connection as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/DBALConnectionChecker.php

		-
			message: '#^Call to method getCluster\(\) on an unknown class Elastica\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/ElasticaConnectionChecker.php

		-
			message: '#^Call to method getConfig\(\) on an unknown class Elastica\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/ElasticaConnectionChecker.php

		-
			message: '#^Parameter \$connection of method MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\ElasticaConnectionChecker\:\:__construct\(\) has invalid type Elastica\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/ElasticaConnectionChecker.php

		-
			message: '#^Property MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\ElasticaConnectionChecker\:\:\$connection has unknown class Elastica\\Client as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/ElasticaConnectionChecker.php

		-
			message: '#^Call to method listDatabaseNames\(\) on an unknown class MongoDB\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/MongoConnectionChecker.php

		-
			message: '#^Parameter \$connection of method MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\MongoConnectionChecker\:\:__construct\(\) has invalid type MongoDB\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/MongoConnectionChecker.php

		-
			message: '#^Property MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\MongoConnectionChecker\:\:\$connection has unknown class MongoDB\\Client as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/MongoConnectionChecker.php

		-
			message: '#^Call to method getClient\(\) on an unknown class Doctrine\\ODM\\MongoDB\\DocumentManager\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/ODMConnectionChecker.php

		-
			message: '#^Call to method getConfiguration\(\) on an unknown class Doctrine\\ODM\\MongoDB\\DocumentManager\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/ODMConnectionChecker.php

		-
			message: '#^Parameter \$documentManager of method MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\ODMConnectionChecker\:\:__construct\(\) has invalid type Doctrine\\ODM\\MongoDB\\DocumentManager\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/ODMConnectionChecker.php

		-
			message: '#^Property MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\ODMConnectionChecker\:\:\$documentManager has unknown class Doctrine\\ODM\\MongoDB\\DocumentManager as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/ODMConnectionChecker.php

		-
			message: '#^Call to method connect\(\) on an unknown class Predis\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/PredisChecker.php

		-
			message: '#^Call to method isConnected\(\) on an unknown class Predis\\Client\.$#'
			identifier: class.notFound
			count: 2
			path: src/Application/Health/Check/Checker/PredisChecker.php

		-
			message: '#^Parameter \$connection of method MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\PredisChecker\:\:__construct\(\) has invalid type Predis\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/PredisChecker.php

		-
			message: '#^Property MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\PredisChecker\:\:\$connection has unknown class Predis\\Client as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/PredisChecker.php

		-
			message: '#^Call to method isConnected\(\) on an unknown class PhpAmqpLib\\Connection\\AbstractConnection\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/RabbitmqChecker.php

		-
			message: '#^Call to method reconnect\(\) on an unknown class PhpAmqpLib\\Connection\\AbstractConnection\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/RabbitmqChecker.php

		-
			message: '#^Parameter \$connection of method MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\RabbitmqChecker\:\:__construct\(\) has invalid type PhpAmqpLib\\Connection\\AbstractConnection\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/RabbitmqChecker.php

		-
			message: '#^Property MaxShamaev\\HealthCheckBundle\\Application\\Health\\Check\\Checker\\RabbitmqChecker\:\:\$connection has unknown class PhpAmqpLib\\Connection\\AbstractConnection as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Health/Check/Checker/RabbitmqChecker.php

		-
			message: '#^Class Predis\\Client not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/DependencyInjection/Detector/CacheClientDetector.php

		-
			message: '#^Class Elastica\\Client not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/DependencyInjection/Detector/ElasticaClientDetector.php

		-
			message: '#^Call to method method\(\) on an unknown class Doctrine\\DBAL\\Connection\.$#'
			identifier: class.notFound
			count: 4
			path: tests/unit/Application/Health/Check/Checker/DBALConnectionCheckerTest.php

		-
			message: '#^Class Doctrine\\DBAL\\Connection not found\.$#'
			identifier: class.notFound
			count: 4
			path: tests/unit/Application/Health/Check/Checker/DBALConnectionCheckerTest.php

		-
			message: '#^Call to method method\(\) on an unknown class Elastica\\Client\.$#'
			identifier: class.notFound
			count: 5
			path: tests/unit/Application/Health/Check/Checker/ElasticaConnectionCheckerTest.php

		-
			message: '#^Call to method method\(\) on an unknown class Elastica\\Cluster\.$#'
			identifier: class.notFound
			count: 1
			path: tests/unit/Application/Health/Check/Checker/ElasticaConnectionCheckerTest.php

		-
			message: '#^Call to method method\(\) on an unknown class Elastica\\Cluster\\Health\.$#'
			identifier: class.notFound
			count: 1
			path: tests/unit/Application/Health/Check/Checker/ElasticaConnectionCheckerTest.php

		-
			message: '#^Class Elastica\\Client not found\.$#'
			identifier: class.notFound
			count: 5
			path: tests/unit/Application/Health/Check/Checker/ElasticaConnectionCheckerTest.php

		-
			message: '#^Class Elastica\\Cluster not found\.$#'
			identifier: class.notFound
			count: 1
			path: tests/unit/Application/Health/Check/Checker/ElasticaConnectionCheckerTest.php

		-
			message: '#^Class Elastica\\Cluster\\Health not found\.$#'
			identifier: class.notFound
			count: 1
			path: tests/unit/Application/Health/Check/Checker/ElasticaConnectionCheckerTest.php

		-
			message: '#^Call to method method\(\) on an unknown class MongoDB\\Client\.$#'
			identifier: class.notFound
			count: 2
			path: tests/unit/Application/Health/Check/Checker/MongoConnectionCheckerTest.php

		-
			message: '#^Class MongoDB\\Client not found\.$#'
			identifier: class.notFound
			count: 3
			path: tests/unit/Application/Health/Check/Checker/MongoConnectionCheckerTest.php

		-
			message: '#^Call to method expects\(\) on an unknown class MongoDB\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: tests/unit/Application/Health/Check/Checker/ODMConnectionCheckerTest.php

		-
			message: '#^Call to method method\(\) on an unknown class Doctrine\\ODM\\MongoDB\\Configuration\.$#'
			identifier: class.notFound
			count: 3
			path: tests/unit/Application/Health/Check/Checker/ODMConnectionCheckerTest.php

		-
			message: '#^Call to method method\(\) on an unknown class Doctrine\\ODM\\MongoDB\\DocumentManager\.$#'
			identifier: class.notFound
			count: 5
			path: tests/unit/Application/Health/Check/Checker/ODMConnectionCheckerTest.php

		-
			message: '#^Call to method method\(\) on an unknown class MongoDB\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: tests/unit/Application/Health/Check/Checker/ODMConnectionCheckerTest.php

		-
			message: '#^Call to method method\(\) on an unknown class MongoDB\\Database\.$#'
			identifier: class.notFound
			count: 1
			path: tests/unit/Application/Health/Check/Checker/ODMConnectionCheckerTest.php

		-
			message: '#^Class Doctrine\\ODM\\MongoDB\\Configuration not found\.$#'
			identifier: class.notFound
			count: 3
			path: tests/unit/Application/Health/Check/Checker/ODMConnectionCheckerTest.php

		-
			message: '#^Class Doctrine\\ODM\\MongoDB\\DocumentManager not found\.$#'
			identifier: class.notFound
			count: 4
			path: tests/unit/Application/Health/Check/Checker/ODMConnectionCheckerTest.php

		-
			message: '#^Class MongoDB\\Client not found\.$#'
			identifier: class.notFound
			count: 2
			path: tests/unit/Application/Health/Check/Checker/ODMConnectionCheckerTest.php

		-
			message: '#^Class MongoDB\\Database not found\.$#'
			identifier: class.notFound
			count: 2
			path: tests/unit/Application/Health/Check/Checker/ODMConnectionCheckerTest.php

		-
			message: '#^Method MaxShamaev\\HealthCheckBundle\\Test\\Unit\\Application\\Health\\Check\\Checker\\ODMConnectionCheckerTest\:\:buildDocumentManagerStub\(\) has invalid return type Doctrine\\ODM\\MongoDB\\DocumentManager\.$#'
			identifier: class.notFound
			count: 1
			path: tests/unit/Application/Health/Check/Checker/ODMConnectionCheckerTest.php

		-
			message: '#^Call to method method\(\) on an unknown class Predis\\Client\.$#'
			identifier: class.notFound
			count: 4
			path: tests/unit/Application/Health/Check/Checker/PredisCheckerTest.php

		-
			message: '#^Class Predis\\Client not found\.$#'
			identifier: class.notFound
			count: 5
			path: tests/unit/Application/Health/Check/Checker/PredisCheckerTest.php

		-
			message: '#^Call to method method\(\) on an unknown class PhpAmqpLib\\Connection\\AbstractConnection\.$#'
			identifier: class.notFound
			count: 3
			path: tests/unit/Application/Health/Check/Checker/RabbitmqCheckerTest.php

		-
			message: '#^Class PhpAmqpLib\\Connection\\AbstractConnection not found\.$#'
			identifier: class.notFound
			count: 4
			path: tests/unit/Application/Health/Check/Checker/RabbitmqCheckerTest.php
